* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {  
  display: flex;
  flex-direction: column;  
  background: black;
  border: 5px solid black;
  border-radius: 5px;
  max-width: 750px;
  margin: 0 auto;
}

#input {  
  background: linear-gradient(
    45deg,
    #000 0%,
    rgba(46, 196, 222, 0.7) 50%,
    rgba(46, 196, 222, 0.7) 50%,
    #000 100%
  );
  border-bottom: 0.25px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 20px 0 30px 0;
}

#heading {  
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.05em;
  color: floralwhite;
}

#enter {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

#val {
  text-align: center;
  font-size: 25px;
  /* width: 200px; */
  background: none;
  color: floralwhite;
  font-weight: bold;
  padding: 5px;
  
 
}

::placeholder {
  color: floralwhite;
  opacity: 1;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  
}

#output {
  border-top: 0.25px solid black;  
  border-radius: 10px;
  background: #1f2937;  
  margin: 2px;
  margin-top: 1px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#length {
  margin: 0 auto;
  padding-top: 5%;
}

#volume {
  margin: 0 auto;
  padding-top: 5%;
}

#mass {
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.top {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  padding-bottom: 15px;
  text-align: center;

  color: floralwhite;
}

.bottom {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  color: #d2d2d2;
}
